$font-family:"sans-serif";


//Base Font definations
$font-size-base: 1.25rem;
$font-size-sm: 1rem;
$font-size-xs: 0.875rem;

$line-height-base: 1.6;
$line-height-sm: 1.2;
$line-height-lg: 2;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

//Colors
$white: #ffffff;
$gray-100: #fafafa;
$gray-150: #f8f8f8;
$gray-200: #f1f1f1;
$gray-300: #d4d4d4;
$gray-400: #9e9e9e;
$gray-500: #6b6b6b;
$gray-600: #313131;
$gray-700: #252525;
$black: #121212;


//Container Width 

$container-width-xxl:1320px;
$container-width-xl:1130px;
$container-width-lg:960px;
$container-width-md:720px;
$container-width-sm:540px;


