<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/styles/index.css">
</head>
<body>
    
        <div class="order-history-description">
            Your order history and purchase information    
        </div>

        
        <div class="order-history">
               <div class="order-history__details">
                   <table class="order-history__details__table" >
                       <tr>
                           <th>Order No</th>
                           <th> Status</th>
                           <th> Total</th>
                           <th> Collection Date</th>
                           <th> Collection Slot</th>
                       </tr>

                       <tr>
                           <td> ORD3</td>
                           <td> Completed</td>
                           <td> £20.49</td>
                           <td> 2 June 2022</td>
                           <td> 6:00 - 12:00</td>
                       </tr>

                   </table>
               </div>
                    
                 
                <div class="showorder">
                    
                    <a href="../invoice.php">View Invoice</a>
                    
                    
                </div>

               

            
        </div>
            
</body>
</html>
