.shop-header{
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
    align-items: center;
    &__info{
        font-size: 1.5rem;
    }
}
.product-table{
    margin-bottom: 3rem;
    overflow-x: auto;

    table{
        width: $xxl;
        border-collapse: collapse;
        tr{
            &:first-child{
                td{
                    background-color: $primary-color;
                    color: white;
                    
                    font-weight: 600;
                }
            }
        }
        td{
            padding:  0.75rem;
            max-width: 350px;
            text-align: center;
            border: 1px solid var(--table-border);
            line-height: 1.75rem;
            
            .limit-height{
                // width: 300px;
                @include truncate(2);
            }
        }
        
    }
    
    
}
