.primary-navbar{

    
    position: fixed;
    top: 0;

    background-color:var(--navbar-bg);
    width: 100%;
    // height: 70px;
    padding: 0.85rem 0;
    box-shadow:var(--navbar-shadow);
    z-index: 1000;

    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__left{
            display: flex;
            // align-items: center;

           
                &__logo{
                    width: 50px;
                    margin-right: 15px;

                    @media only screen and (max-width:$screen-lg) {
                        
                        margin-right: 30px;
                    }
    
                    img{
                        width: 100%;
                    }
                }

               
            
        }

        &__search{
            display: flex;
    gap: 0.5rem;
    background: var(--search-bg);
    padding: 0.45rem 1rem;
    width: 400px;
    border-radius: 5px;
    form{
        width: 100%;
        .primary-navbar__content__search__field{
            width: 100%;
        }
    }

    @media only screen and (max-width:$screen-lg) {
        display: none;
    } 

    svg{
        transform: scale(0.85);
    }

            &__field{
                flex-grow: 1;
    background: transparent;
    border: 0;
    outline: none;

            }
        }

        &__right{
            display: flex;
            align-items: center;
        }
    }
    

}

.nav-links{
    padding: 0 0.75rem;
    font-size: $font-size-base;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 600;
    svg{
        transform: scale(0.75);
    }

    &--desktop{

        @media only screen and (max-width:$screen-lg) {
            display: none;
        } 

    }

    &__cart{
        
        &__main{
            position: relative;
        }
        &__counter{
            position: absolute;
    width: 20px;
    height: 20px;
    padding-bottom: 4px;
    font-size: 0.875rem;
    background: var(--cart-counter-bg);
    box-shadow: var(--cart-counter-shadow);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 25px;
    right: 0;
  

        }

    }

    &--products{
        position: relative;
        &:hover .nav-links__products__lists{
            transform: scaleY(1);
            max-height: 100%;
        }
        &:hover{
            background-color: var(	--navbar-product-hover-bg);
        }
      
    }
    &--profile{
        position: relative;
        &:hover .nav-links__profile__lists{
            transform: scaleY(1);
            max-height: 100%;
        }
        &:hover{
            background-color: var(--navbar-product-hover-bg);
        }
    }

    &__products{
        position: relative;
        padding-right: 1.25rem;
       
        &::after{
            position: absolute;
            content:"";
            width: 1rem;
			height: 1rem;
            margin-top: 0.3rem;
			margin-left: 0.25rem;
			background-image: url('assets/images/dropdown.svg');
			background-repeat: no-repeat;
			background-size: 0.875rem;
			background-position: center;
            opacity: 0.55;
            transform: scale(0.85);
			transition: transform 0.2s ease-in-out;

        }

        &__lists{
            width: 280px;
            transform: scaleY(0);
            max-height: 0;
            overflow: hidden;
            transform-origin: top;
            transition: 0.2s ease-in-out;
        }

        

        

    }

    &__profile{
        padding: 0.7rem 0;
        &__lists{
            width: 250px;
            transform: scaleY(0);
            max-height: 0;
            overflow: hidden;
            transform-origin: top;
            transition: 0.2s ease-in-out;
        }
    }

   
}

[data-theme="dark"]{
    .nav-links__products::after{
        background-image: url('assets/images/dropdown-dark.svg');
    }
}

.navbar-profile-picture{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;

    &--mobile{
   height: 35px;
    width: 35px;
    }
}

.nav-submit-button{
    display: none;
}

.nav-cat-button{
    background-color: inherit;
    border: none;
    color: inherit;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-weight: inherit;
    text-align: left;
    font:inherit;
    margin-top: 0;
    margin-bottom: 0;
}