:root,
[data-theme="dark"] {
    --body-bg: #{$black};
	--body-light-bg: #{$gray-700};
    --text-color: #{$white};
	--text-light-color: #{$gray-400};

    --navbar-bg:#{$gray-700};
    --navbar-shadow: none;
    --navbar-product-hover-bg:#{$gray-600};

    --cart-counter-bg:#404040;
    --cart-counter-shadow:none;


    --navbar-bottom-bg:#{$gray-700};
    --navbar-bottom-shadow: none;

    --login-form-bg:#{$gray-700};
    --input-bg:#{$gray-600};
    --input-border:#{$gray-500};

    --footer-bg:#{$gray-700};
    --footer-shadow: none;

    --copyright-bg:  #{$black};

    --search-bg:#e8e8e8;

    --dropdown-bg:#{$gray-600};
	--dropdown-shadow:none;
    --dropdown-list-bg:#{$gray-700};


    //Carts

    --indi-cart-item-bg : #{$gray-700};
    --cart-change-btn-bg: #{$gray-600};
    --cart-aside-border:#{$gray-600};


    --product-card-bg:#{$gray-700};

    --account-setting-nav:#{$gray-500};

    //Product Detail
	--product-detail-component:#{#181818};
	--product-detail-bg:#{$black};
    --review-Textbox-bg:#{#1f1f1f};
    
    //Dropdown Menu Icon
	--icon-color: #{$white};

    --table-border:#848383;

}