:root,
[data-theme="dark"] {
    --body-bg: #{$black};
    --navbar-bg:#{$black};
	--body-light-bg: #{$gray-700};
    --navbar-shadow: none;
    
    --search-bg:#e8e8e8;
    --text-color: #{$white};
	--text-light-color: #{$gray-400};
}