
//Base structure of website

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    color: var(--text-color);
    background-color: var(--body-bg);
    font-size: $font-size-base;
    font-family: system-ui;
}

ul{
    list-style: none;
}
.container{
    width: $xxl;
    margin: auto;

    @media only screen and (max-width:$screen-xxl) {

        max-width: $xl;
        
    }
    @media only screen and (max-width:$screen-xl) {

        max-width: $lg;
        
    }
    
    @media only screen and (max-width:$screen-lg) {

        max-width: $md;
         
     }
     @media only screen and (max-width:$screen-md) {

        max-width: $sm;
        
    }
     

   
    @media only screen and (max-width:$screen-sm) {

        padding: 0 1rem;
        max-width: 100%;
        
    }
   
    
}

.page{
    min-height: 90vh;
    position: relative;

    &__body{
        margin-top:10rem;

        @media only screen and (max-width:$screen-md) {

            margin-top:8rem;
            
        }
    }
}

.section{
    margin-top:3rem;

    @media only screen and (max-width:$screen-md) {
        margin-top: 1rem;
    }

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        &__heading{
            font-weight: 600;
            font-size: $font-size-lg;
           
            @media only screen and (max-width:$screen-md) {
                font-size: $font-size-md;
            }


        }

        &__view-all{
            color: var(--text-light-color);
            font-size: $font-size-sm;
            cursor: pointer;

        }
    }

    &__card-body{
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        // justify-content: space-between;

        @media only screen and (max-width:$screen-lg) {
           overflow: auto;
           gap: 1rem;
        }
    }
}

.desktop-view{
    @media only screen and (max-width:$screen-md) {
        display: none !important;
     }
}

.mobile-view{
    @media only screen and (min-width:$screen-md) {
        display: none !important;
     }
}

a{
    color: inherit;
    text-decoration: initial;
}

