.section__topdeal-body {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  }
  

  .item-card {
    position: relative;
    width: 220PX;
     box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.03), -1px -1px 10px 1px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    background-color: var(--product-card-bg);
  }

  @media only screen and (max-width: 992px) {
    .section__topdeal-body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
