@import './abstracts/index.scss';
@import './base/index.scss';
@import './components/index.scss';
@import './pages/index.scss';
@import './themes/index.scss';
@import './vendors/index.scss';

.my-first{
    height: 100px;
    width: 100px;
    background-color: rebeccapurple;
    border-radius: 50%;
}