.dropdown-form{
    display: none;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    box-shadow: var(--dropdown-shadow);
    border-radius: 0 0 10 10;
    min-width: 150px;
    border: 1px solid $primary-color;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right:10px;
}

.filter-page{
    &__Top-Row{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        @media only screen and (max-width:$screen-sm){
            align-items: flex-end;
        }

        &__Res-Num{
            color: $gray-400;
            margin-right: auto;
            @media only screen and (max-width:$screen-md){
                display: none;
            }
            
        }

        &__Categories{
            float:left;
            width: 150px;
            display: none;
            margin-right:auto ;


            @media only screen and (max-width:$screen-sm){
                display: inline-block;
            }
            &:hover .dropdown-form{
                display: block;
                flex-direction: column;
                background-color: var(--dropdown-bg);
            }

            &__dropdown-button{
                width: 100%;
                border: 1px solid $primary-color;
                color: var(--text-color);
                background-color: transparent;
                transition: 0.3s ease-in-out;
                outline: none;
                cursor: pointer;
                padding: 0.5rem 0.75rem;
                border-radius: 4px;
                font-weight: 550;

                &:hover{
                    font-weight: 600;
                    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
                }
                
            }
        }

        &__Sort{
            display: flex;
            justify-content: center;
            align-items: center;

            &__Sort-Title{
                font-size: $font-size-base;
                font-weight: 450;
                margin-right: 10px;

                @media only screen and (max-width:$screen-sm){
                    display: none;
                }
            }
            &__Sort-Dropdown{
                display: inline-block;
                min-width: 150px;

                &__Button{
                    width: 100%;
                    border: 1px solid $primary-color;
                    color: var(--text-color);
                    background-color: transparent;
                    transition: 0.3s ease-in-out;
                    outline: none;
                    cursor: pointer;
                    padding: 0.5rem 0.75rem;
                    border-radius: 4px;
                    font-weight: 550;

                    &:hover{
                        font-weight: 600;
                        box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
                    }

                    &__Icon{
                        fill: var(--icon-color);
                    }
                }

                &__Dropdown-Content{
                    display: none;
                    position: absolute;
                    z-index: 1;
                    box-shadow: var(--dropdown-shadow);
                    border-radius: 10;
                    min-width: 150px;
                    border: 1px solid $primary-color;
                    

                    &__Options{
                        color: var(--text-color);
                        border: 0;
                        border-bottom: 1px solid $primary-color;
                        background-color: transparent;
                        transition: 0.3s ease-in-out;
                        outline: none;
                        cursor: pointer;
                        padding: 0.5rem 0.75rem;
                        font-weight: 550;
                        min-width: 150px;

                    &:hover{
                        font-weight: 600;
                        box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
                    }
                    &:disabled{
                        color: $gray-400;
                    }
                    }
                }

                &:hover .filter-page__Top-Row__Sort__Sort-Dropdown__Dropdown-Content{
                    display: flex;
                    flex-direction: column;
                    background-color: var(--dropdown-bg);
                }
            }
        }
    }
    &__Line{
        margin-top: 10px;
        margin-bottom: 10px;
        border:0;
        background-color: $primary-color;
        height: 1px;
    }

    &__Result{
        width: 100%;
        gap: 1.25rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media only screen and (max-width:$screen-lg){
            grid-template-columns: 1fr 1fr;
        }
        @media only screen and (max-width:$screen-md){
            grid-template-columns: 1fr;
        }
        @media only screen and (max-width:$screen-sm){
            grid-template-columns: 1fr;
            gap: 1rem;
        }
    }
}

.search-card{
    width: auto;

    @media only screen and (max-width:$screen-md){
        display: flex;
        flex-direction: row;
    }

    &__image{
        @media only screen and (max-width:$screen-sm){
            max-width: 200px;
            width: 100%;

            padding:auto;
            margin: auto; 
            &__img{
                border-radius: 5px;
            }
        }
    }
}

.search-card-detail{
    width: 100%;
}
.filter-result-container{
    width: 100%;
    display: flex;
    flex-direction: row;



    &__left{
        width: 20%;
        @media only screen and (max-width:$screen-md){
            width: 35%;
        }
        @media only screen and (max-width:$screen-sm){
            display: none;
        }
    }
    &__right{
        width:80%;
        @media only screen and (max-width:$screen-md){
            width: 65%;
        }
        @media only screen and (max-width:$screen-sm){
            width: 100%;
        }
    }
}

.Categories-filter-page{
    &__Header{
        font-size: $font-size-lg;
        padding-bottom: 10px;
        margin-bottom: 10px;
        width: 90%;
        border-bottom: 1px solid $primary-color;
    }
    &__Form{
        font-size: $font-size-md;
    }
}