.myorders-page{

}

.order-history{
    display: flex;
    align-items: center;
    // gap: 2rem;
    margin: 0.75rem 0;
    background-color: var(--body-light-bg);

    @media only screen and (max-width:$screen-md) {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    } 

    &__details{
       margin-left: 0.5rem;  
       flex-grow: 1;
    
    
    &__table {
    
        width: 100%;
        @media only screen and (max-width:$screen-sm){
          display: none;
         
      }
    
      }
    &__smallTable{
        width: 100%;
        display: none;
        
        
        @media only screen and (max-width:$screen-sm){
          display: block;
         
          
          
           }
      }
      
      td, th {  
        
        text-align: left;
        padding: 0.5rem;
        
    }
}



.showorder{
    padding: 2rem;
    font-size: 1rem;
    font-weight: 700;
    width: fit-content;
    
}
}
.order-history-description{
    margin-bottom: 1.25rem;
}