.success-page-container{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: fit-content;
    margin: auto;
    text-align: center;

    @media only screen and (max-width:$screen-sm) {
        padding: 1rem;

    }

    img{
        height: 120px;
        width: 120px;

        object-fit: contain;

    }

    &__content{
        margin-top: 2rem;

        &__links{
            margin-top: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            @media only screen and (max-width:$screen-sm) {
                flex-direction: column;
                gap: 0.5rem;
    
            }
           
            .btn{
                width: 200px;
            }
        }

    }

}