.nav-dropdown{
    position: absolute;
    

    &--products{
        bottom: -250px;
        left: 0;
        
    }
    &--profile{
        bottom: -195px;
        left: -182px;
    }   
    &--trader{
        bottom: -100px;
    }


    &__lists{
        //margin-top: 15px;
        // padding: 0.75rem 0;
        background-color: var(--navbar-product-hover-bg);
        //box-shadow: var(--dropdown-shadow);
        border-radius: 0 0 8px 8px ;

        &__list{
            list-style: none;
            padding: 0.5rem 1rem;
            margin: 0.25rem 0;
            background-color: var(--navbar-product-hover-bg);
            
           &:nth-child(1){
                    margin-top: 0.25rem ;
                    padding: 0.5rem 1rem;
           } 
           &:nth-last-child(1){
            margin-bottom: 0.25rem ;
           }
           

            &:hover{
                background-color: var(--dropdown-list-bg);
            }

            &__link{
            display: flex;
            // align-items: center;
            gap: 0.5rem;
            }
        }
    }
}